import org.springframework.web.bind.annotation.RestController;

import {{ .groupId }.{{ .artifactId }}.controllers.{{ .class }};
import {{ .groupId }}.{{ .artifactId }}.services.{{ .class }}Service;

@RestController
@AllArgsConstructor
@NoArgsConstructor
public {{ .class }}Controller{
    private {{.class}}Service {{.class}}Service;
}
{{.end}}