import org.springframework.web.bind.annotation.RestController;

@RestController
@AllArgsConstructor
@NoArgsConstructor
public {{ .class }}Controller{
    private {{.class}}Service {{.class}}Service;
}
{{.end}}