import jakarta.persistence.Entity;
import lombok.Builder;
import lombok.Getter;
import lombok.Setter;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
{{if eq .TypeId 3}}
import java.util.UUID;
{{end}}

@Entity
@NoArgsConstructor
@AllArgsConstructor
@Getter
@Setter
@Builder
public class {{.Name}} {
    @Id
    {{if eq .TypeId 3}}
    @GenerationValue(strategy = GenerationType.UUID)
    {{else}}
    @GenerationValue(strategy = GenerationType.IDENTITY)
    {{end}}
    private {{if eq .TypeId 1}}int{{else if eq .TypeId 2}}long{{else if eq .TypeId 3}}UUID{{end}} id;
}