package {{.SharedPom.GroupId}}.{{.SharedPom.ArtifactId}}.Repositories;
import org.springframework.data.jpa.repository.{{.SharedEntity.RepoType}};
import {{.SharedPom.GroupId}}.{{.SharedPom.ArtifactId}}.Models.{{.SharedEntity.Name}};
import java.util.{{if eq .SharedEntity.TypeId 1}}Integer{{else if eq .SharedEntity.TypeId 2}}Long{{else if eq .SharedEntity.TypeId 3}}UUID{{end}}
@Repository
public interface {{.SharedEntity.Name}}Repository extends {{.SharedEntity.RepoType}}<{{.SharedEntity.Name}}, {{if eq .SharedEntity.TypeId 1}}Integer{{else if eq .SharedEntity.TypeId 2}}Long{{else if eq .SharedEntity.TypeId 3}}UUID{{end}}>{}