import org.springframework.data.jpa.repository.{{ .Repository }};
import {{.groupId}}.{{.artifactId}}.Models.Entity.{{.class}};
@Repository
public interface {{ .class }}Repository extends {{ .Repository }}<{{ .class }}, {{ .typeClass}}>{}