import org.springframework.web.bind.annotation.Service;

@Service
@AllArgsConstructor
@NoArgsConstructor
public {{.class}}ServiceImpl {
    private {{ .class }}Repository {{.class}}Repository;
}
{{end}}