import org.springframework.stereotype.Service;

import {{ .groupId }}.{{ .artifactId }}.controllers.{{ .class }};
import {{ .groupId }}.{{ .artifactId }}.services.{{ .class }}Service;

@Service
@AllArgsConstructor
@NoArgsConstructor
public {{ .class }}ServiceImpl implements {{ .class }}Service{
    private {{ .class }}Repository {{.class}}Repository;
}
{{end}}