package {{.SharedPom.GroupId}}.{{.SharedPom.ArtifactId}}.Services;

import {{.SharedPom.GroupId}}.{{.SharedPom.ArtifactId}}.dto.{{.SharedEntity.Name}}Dto;
{{if eq .SharedEntity.TypeId 3}}
import java.util.UUID;
{{end}}
import java.util.List;

public interface {{.SharedEntity.Name}}Service {
    {{.SharedEntity.Name}}Dto save({{.SharedEntity.Name}}Dto {{.SharedEntity.NameLower}}Dto);

    void delete({{if eq .SharedEntity.TypeId 1}}Int{{else if eq .SharedEntity.TypeId 2}}Long{{else if eq .SharedEntity.TypeId 3}}UUID{{end}} id);

    List<{{.SharedEntity.Name}}Dto> getAll();

    {{.SharedEntity.Name}}Dto findById({{if eq .SharedEntity.TypeId 1}}Int{{else if eq .SharedEntity.TypeId 2}}Long{{else if eq .SharedEntity.TypeId 3}}UUID{{end}} id);

    {{.SharedEntity.Name}}Dto update({{if eq .SharedEntity.TypeId 1}}Int{{else if eq .SharedEntity.TypeId 2}}Long{{else if eq .SharedEntity.TypeId 3}}UUID{{end}} id, {{.SharedEntity.Name}}Dto {{.SharedEntity.NameLower}}Dto);
}
