package {{.SharedPom.GroupId}}.{{.SharedPom.ArtifactId}}.Services.Impl;
import org.springframework.stereotype.Service;

import {{.SharedPom.GroupId}}.{{.SharedPom.ArtifactId}}.Services.{{.SharedEntity.Name}}Service;
import {{.SharedPom.GroupId}}.{{.SharedPom.ArtifactId}}.Repositories.{{.SharedEntity.Name}}Repository;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;

@Service
@AllArgsConstructor
@NoArgsConstructor
public class {{.SharedEntity.Name}}ServiceImpl implements {{.SharedEntity.Name}}Service{
    private {{.SharedEntity.Name}}Repository {{.SharedEntity.Name}}Repository;
}